*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: black;
  text-decoration: none;
  list-style: none;
}
.App{
  width: 100%;
}
header{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: 0.5s;
}
.menuList{
  display: flex;
  align-items:center;
  transition: 0.5s;
  &:hover{
    border-bottom: 1px solid #5956e9;
  }
}
.menuList>ion-icon{
  cursor: pointer;
  &:hover{
    color: #5956e9;
  }
}
.menuList>a{
  padding: 10px;
  &:hover{
    color: #5956e9;
  }
}
.ionIcon>ion-icon{
  font-size: 30px;
  cursor: pointer;
  margin: 10px;
}


